src/test.py
commit_msg.txt
tmp/
output/
output_*/
data/
figs/

*.idea
__pycache__*
__pycache__/
*.pyc
.DS_Store
**/.DS_Scleartore
scripts.sh
output_visualized
trial_results/
data_local/
outputs/
outputs.zip
*.zip
test_results/
radiologists_test_results/
data_local_me/
outputs_test
outputs_test/*
outputs_for_detect
data_allocation
radiologists_results
src/detect.py
src/secondary.py
